
body {
	padding: 2em;
}

/* index */

.inputfield {
	background-color: #ffffba; /* pastel yellow */
	border-radius: 30px;
	border: none;
	width: 25%;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.col-sm-4 {
	border: none;
}

.todo-box {
	background-color: #ffb3ba; /* pastel red */
	margin-right: 0.5em;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 30px;
}

.todo-true{
	background-color: #baffc9; /* pastel green */
}

.boxtitle {
	font-weight: bold;
}

#todoboxtitle, .indexformtext {
	font-weight: bold;
}

.formdelete, .formdone {
	display: inline-block;
}

/* updateTodo */

.form-control {
	background-color: #bae1ff; /* pastel blue */
	border-radius: 30px;
	border: none;
	width: 50%;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.updatepage {
	font-weight: bold;
}

#updatetitle, #updatedescription, #updateduedate {
	font-weight: bold;
}

/* Page 2 - todolist (Done to-do items) */

.donetext {
	font-style: italic;
	width: 60%;
}

a.tofirstpage:hover {
	color: #ffb3ba; /* pastel red */
}

a.tofirstpage:active {
	color: #FFFFFF;
}

/* multiple pages */
.nextpage, .submit, .tofirstpage, .reset, .edit, .delete, .done {
	background-color: #808080; /* grey */
  	border: none;
  	padding: 0.2em 0.5em;
  	text-align: center;
  	text-decoration: none;
  	font-weight: bold;
  	color: #FFFFFF; /* white */
  	margin-right: 0.5em;
}

